* {
    font-family: 'Segoe UI';
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 738px;
    position: fixed;
    background-color: white;
}

.navbar_white {
    width: 100%;
    height: 45px;
    line-height: 45px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar_white .back {
    margin: 16px;
    position: relative;
    bottom: 2px;
}

.navbar_white .title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.navbar_white .logout{
    width: 24px;
    height: 24px;
    margin: auto 16px;
    background-image: url('../img/ic_logout.png');
}

.back a {
    display: block;
    text-decoration: none;
}

/* bgimg */
.bg02,
.bg04,
.bg06,
.bg13 {
    margin: 0px;
    width: 360px;
    height: 738px;
    background-position: top;
    background-repeat: no-repeat;
}

/* .bg02 {
    background-image: url('../img/sausage.png');
} */

.bg04 {
    background-image: url('../img/sorry.png');
}

.bg06 {
    background-image: url('../img/coffeeshop.png');
}

.scan {
    background-image: url('../img/scan.png');
    width: 328px;
    height: 511px;
    z-index: 120;
    position: absolute;
    top: 100px;
    margin: 0px 16px;
}

.bg13 {
    background-image: url('../img/bg02_blue.png');
}

/* linear_gradient */
.linear_gradient01 {
    width: 360px;
    height: 124px;
    background: linear-gradient(#000000, #ffffff00);
}

.linear_gradient02 {
    width: 100%;
    height: 228px;
    background: linear-gradient(#ffffff00, #000000);
    position: absolute;
    margin: 0px auto;
    overflow-x: hidden;
}

.linear_gradient03 {
    width: 100%;
    height: 228px;
    background: linear-gradient(#ffffff00, #000000);
    position: absolute;
    margin: 0px auto;
    top: 530px;
}

.linear_gradient05 {
    width: 100%;
    height: 223px;
    background: linear-gradient(#ffffff00, #000000);
    position: absolute;
    margin: 410px auto;
}

.scroll {
    width: 360px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    padding: 100px 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 120;

}

.scroll::-webkit-scroll {
    display: none;
}

.box1 {
    width: 50%;
    height: 80px;
    background: #5A5A5A;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.box1 p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    line-height: 2px;
    padding-top: 18px;
}

.result03 {
    padding: 520px 0;
}

.result03 h5 {
    color: white;
    font-weight: bold;
    font-size: 28px;
    z-index: 110;
    position: relative;
    left: 16px;
}

.result03 span {
    color: white;
    font-weight: normal;
    font-size: 24px;
    z-index: 110;
    position: relative;
    left: 16px;
}

.sentence01 {
    color: white;
    position: relative;
    padding: 20px 16px;
}

.sentence01 h5 {
    font-size: 28px;
    font-weight: bold;
}

.sentence01 span {
    font-size: 24px;
    font-weight: normal;
}

.sentence01 p {
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    margin-top: 6px;
}

.sentence01 small {
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    margin: 20px 0;
}

.result07 {
    line-height: 30px;
    position: absolute;
    padding: 380px 0;
}

.result07 h5 {
    color: white;
    font-weight: bold;
    font-size: 28px;
    z-index: 110;
    position: relative;
    margin: 20px 16px;
}

.result07 h6 {
    color: white;
    font-weight: normal;
    font-size: 24px;
    z-index: 110;
    position: relative;
    margin: 0px 16px;
}

/* camerabtn */
.camerabtn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 520px;
}

.camerabtn03 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    top: 40px;
    z-index: 120;
}

.act02,
.act06 {
    width: 64px;
    height: 64px;
    background-image: url('../img/ic_act_n.png');
    position: absolute;
    left: 26px;
    bottom: 48px;
}

.act04 {
    width: 76px;
    height: 76px;
    background-image: url('../img/ic_act_f.png');
    position: absolute;
    left: 20px;
    bottom: 42px;
}

.ai02 {
    width: 76px;
    height: 76px;
    background-image: url('../img/ic_ai_f.png');
    position: absolute;
    left: 145px;
    bottom: 42px;
}

.ai04,
.ai06 {
    width: 64px;
    height: 64px;
    position: absolute;
    align-items: center;
    background-image: url('../img/ic_ai_n.png');
    position: absolute;
    left: 150px;
    bottom: 48px;
}

.scene02,
.scene04 {
    width: 64px;
    height: 64px;
    background-image: url('../img/ic_scene_n.png');
    position: absolute;
    right: 26px;
    bottom: 48px;
}

.scene06 {
    width: 76px;
    height: 76px;
    background-image: url('../img/ic_scene_f.png');
    position: absolute;
    right: 20px;
    bottom: 42px;
}

.ic_tw_white,
.ic_tone,
.ic_save {
    width: 64px;
    height: 64px;
    bottom: 48px;
    background-repeat: no-repeat;
}

.ic_tw_white {
    background-image: url('../img/ic_tw_white.png');
    position: absolute;
    left: 26px;
}

.ic_tone {
    background-image: url('../img/ic_tone.png');
    position: absolute;
    left: 150px;
}

.ic_save {
    background-image: url('../img/ic_save.png');
    position: absolute;
    right: 26px;
}

.photo {
    background-image: url('../img/user.png');
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 94px;
    margin-left: 16px;
}

.photo h5 {
    color: rgb(255, 255, 255);
    position: relative;
    font-weight: bold;
    font-size: 18px;
    top: 10px;
    width: 200px;
    margin-left: 90px;
}

.photo p {
    color: white;
    font-weight: normal;
    font-size: 14px;
    width: 100px;
    margin-left: 90px;
    position: relative;
    top: 6px;
}

.ability p {
    font-weight: bold;
    color: #5a5a5a;
    position: absolute;
    top: 234px;
    left: 16px;
    z-index: 200;
}

.name {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 262px;
    line-height: 52px;
    left: 16px;
}

.name span {
    color: #5A5A5A;
    font-weight: normal;
}

.graph,
.graph02,
.graph03 {
    width: 328px;
    height: 16px;
    background: #E6E6E6;
    border-radius: 20px;
    position: absolute;
    top: 220px;
}

.graph {
    margin: 86px 16px;
}

.graph02 {
    margin: 136px 16px;

}

.graph03 {
    margin: 186px 16px;
}

.chart_container {
    display: flex;
    flex-direction: column;
}

.graph span,
.graph02 span,
.graph03 span {
    color: rgb(255, 255, 255);
    font-weight: normal;
    display: block;
    padding: 0 10px;
    height: 16px;
    line-height: 16px;
    text-align: right;
    position: relative;
    background: #FF6458;
    border-radius: 16px;
    box-sizing: border-box;
    z-index: 150;
}

.graph span {
    width: 55%;
    animation: stack 2s 1;
}

.graph02 span {
    width: 70%;
    animation: stack2 2s 1;
}

.graph03 span {
    width: 30%;
    animation: stack3 2s 1;
}

@keyframes stack {
    0% {
        width: 0;
    }

    100% {
        width: 55%;
    }
}

@keyframes stack2 {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

@keyframes stack3 {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

.collect {
    position: absolute;
    top: 450px;
    width: 360px;
    z-index: 100;
}

.collect .container {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    top: 30px;
    overflow: scroll;
}

.collect .container::-webkit-scrollbar{
    display: none;
} 


.collect p {
    font-weight: bold;
    color: #5a5a5a;
    position: relative;
    display: inline-block;
    left: 16px;
}

.badge01,
.badge02,
.badge03,
.badge04,
.badge05,
.badge06,
.badge07,
.badge08,
.badge09,
.badge10,
.badge11,
.badge12,
.badge13,
.badge14,
.badge15,
.badge16 {
    width: 60px;
    height: 54px;
    margin: 10px;
    background-repeat: no-repeat;
}

.badge01 {
    background-image: url('../img/ic_badge01_n.png');
}

.badge02 {
    background-image: url('../img/ic_badge02_n.png');
}

.badge04 {
    background-image: url('../img/ic_badge04_n.png');
}

.badge05 {
    background-image: url('../img/ic_badge05_n.png');
}

.badge03,
.badge06,
.badge15,
.badge13,
.badge16 {
    background-image: url('../img/ic_badge06_d.png');
}

.badge07 {
    background-image: url('../img/ic_badge07_n.png');
}

.badge08 {
    background-image: url('../img/ic_badge08_n.png');
}

.badge09 {
    background-image: url('../img/ic_badge09_n.png');
}

.badge10 {
    background-image: url('../img/ic_badge10_n.png');
}

.badge11 {
    background-image: url('../img/ic_badge11_n.png');
}

.badge12 {
    background-image: url('../img/ic_badge12_n.png');
}

.badge14 {
    background-image: url('../img/ic_badge14_n.png');
}