* {
    font-family: 'Segoe UI';
    list-style-type: none;
    margin: 0px;
}

body{
    margin: 0;
    padding: 0;
    width: 360px;
    height: 738px;
    position: fixed;

}

.navbar_white {
    width: 100%;
    height: 45px;
    line-height: 45px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar_white .back {
    margin: 16px;
}

.navbar_white .title {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0px;
}

.navbar_white .tk-point {
    width: 56px;
    visibility: hidden;
}

.back a {
    display: block;
    text-decoration: none;  
}

.qrcode{
    width: 24px;
    height: 24px;
    background-image: url('../img/ic_qrcode_n.png');
    margin: 16px;
}


.bg10 {
    background-image: url('../img/bg02_blue.png');
    margin: 0px;
    height: 243px;
    background-position: top;
}

.div { 
    overflow : hidden ; 
    height : 40px ;
} 
.box { 
    height: 30px;
    background : rgb(255, 255, 255) ; 
    padding : 0px 10px; 
    white-space : nowrap ; /*文本不會換行，文本會在在同一行上繼續*/ 
    overflow-y : auto ; /*可滑動*/
    margin: 0px 0px 0px 0px;
}
/*自定義滾動條的偽對象選擇器, CSS可以隱藏滾動條*/ 
.box::-webkit-scrollbar{
    display: none;
} 


ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 10px;
}



a:link,a:visited{
    color: rgb(76, 76, 76);
}

/* a:visited{
    color: rgb(44, 165, 28);
} */



li a{
    margin: 0px 12px;
    
    display: block;
    padding: 0px;
    font-size: 18px;
}



.back{
    padding: 0px 0px 0px 0px;
}

.idnumber{
   padding: 85px 0px 10px 0px ;
   margin: 0px 0px 0px 20px;
   color: rgb(255, 255, 255);
   font-size: 15px;
   font-weight: 400;
}

.idnumber2{
   padding: 10px 0px 15px 0px ;
   margin: 0px 0px 0px 20px;
   color: rgb(255, 255, 255);
   font-size: 50px;
   font-weight: 630;
}

h1{
    line-height: 100px;
    margin: 20px 0px 0px 20px;
    font-size: 55px;
    color: white;
}

.container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 0px;
 
}


h6{
    padding: 10px 15px 0px 10px;
    /* color: rgb(50, 50, 50); */
}

p{
    padding: 0px 15px 0px 10px;
    text-align: left;
    line-height: 30px;
    font-size: 15px;
    /* color: rgb(98, 98, 98); */
}


.Detail{
    padding: 0px 10px;
    line-height: 25px;

}


